@import "../../css/common.less";

@animateTime: 2s;

.nav-safe-container {
    padding-top: env(safe-area-inset-top);
    background-color: #595959;
}

.nav-container {
    width: 100%;
    height: 100px;
    background-color: #595959;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 0 18px;
    box-sizing: border-box;
    grid-template-areas: "back title more";
}

.nav-back {
    display: flex;
    align-items: center;
    grid-area: back;
}

.nav-back-text {
    font-size: @textMedium;
    color: white;
}

.nav-back-icon {
    width: 45px;
    height: 45px;
}

.nav-title {
    font-size: @textBig;
    justify-self: center;
    color: white;
    font-weight: bold;
    grid-area: title;
}

.nav-more {
    grid-area: more;
}

.nav-route-area {
    position: absolute;
    width: 100%;
    top: calc(100px + env(safe-area-inset-top));
    // ios will move the whole page up
    bottom: calc(0px - env(safe-area-inset-top));
    overflow: hidden;
    overflow-y: scroll;
    div {
        // transform: translateZ(1px);
        will-change: transform;
    }
}


// route animate

// PUSH ANIMATION
.nav-PUSH-hide {
    transform: translateX(-50%);
    opacity: 0;
    transition: all @animateTime ease-in;
}

.nav-PUSH-show-begin {
    transform: translateX(50%);
    opacity: 0;
}

.nav-PUSH-show-active {
    transform: translateX(0);
    opacity: 1;
    transition: all @animateTime ease-out;
}

// POP ANIMATION
.nav-POP-hide {
    transform: translateX(50%);
    opacity: 0;
    transition: all @animateTime ease-in;
}

.nav-POP-show-begin {
    transform: translateX(-50%);
    opacity: 0;
}

.nav-POP-show-active {
    transform: translateX(0);
    opacity: 1;
    transition: all @animateTime ease-out;
}

